@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <button onclick="myMove()">Click Me</button>
    </p>

    <div id="myContainer">
        <div id="myAnimation"></div>
    </div>
    <video>
        <source src="./lib/[FREE DL] Flamewall [Symphonic Speed Metal].mp4" type="video/mp4">
    </video>
</div>
